#innerContainer {
    width:100%;
    margin:0 auto;
    overflow:hidden;
}

#list {
    float:left;
    width:33%;
}

#playground {
    float:left;
    width:66%;
    padding-left: 10px;
    border: .1px solid lightgray;
    min-height: 400px;
}