#innerContainer {
    width:100%;
    margin:0 auto;
    overflow:hidden;
}

#playground {
    float:left;
    width:100%;
    padding-left: 10px;
    border: .1px solid lightgray;
    min-height: 400px;
} 
.center {
    display:flex;
    justify-content:center;
}